.size_number_courses {
    font-size: medium;
}
.size_text_courses {
    font-size: xx-large;
    text-align: center;
}
p.site_titletema {
    text-align: center;
}
p.size_text_course {
    font-size: x-large;
    text-align: left;
}
p.size_title_course {
    font-size: xx-large;
    text-align: left;
}
.site_padding {
    padding-left: 20px;
    margin: 0;
}

div.courses {
    border: 1px solid #dee2e6;
    margin-top: 5px;
}

.courses {

    border: 1px solid #dee2e6;
    margin-top: 5px;
}

li {
    list-style: none;
    width : 90%;
}

ul.my_padding{
    padding: 0;
}
.position_display {
    display: inline;
}
.po-right {
    text-align: right;
}
.text_test {
    font-size: xx-large;
    text-align: left;
    vertical-align: top;
    width: 100%
}

.text_vertical_align{
    vertical-align: top
}

input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: xx-large;
}


textarea {
    font-size: x-large !important;
    width : 90%;
    resize: vertical;
}
.text_number_zadanie {
    font-size: x-large;
    text-align: left;
    font-weight: 600;
}

.text_example {
    font-size: x-large;
    text-align: left;
    text-indent: 2em;
}

.text_zadanie {
    font-size: x-large;
    text-align: left;
    font-weight: 600;
    text-indent: 2em;
}
body {
    min-width: 95%;
    max-width: 95%;
    min-height: 95%;
    max-height: 95%;
}
.taskTab{
    padding: 5% 5% 5% 5%;
}


.not_select_text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

table{
    width : 98%;
}

td{
    width : 50%;
    padding: 5px;
}

.padding{
    padding: 5px;
}

.margin{
    margin: 5px;
}

.indent{
    text-indent: 2em;
}

.td_3{
    width : 30%;
    margin: 5px
}

/*@media (max-width:992px) {
    .text_zadanie {
        font-size: large;
    }

    input[type=text], input[type=password], textarea, select {
        font-size: x-large;
    }

    .text_test {
        font-size: x-large;
    }
}*/
@media (max-width:768px) {
    .text_zadanie {
        font-size: large !important;
    }

    input[type=text], input[type=password], select {
        font-size: x-large;
    }
    textarea {
        font-size: x-large !important;
    }
    .text_test {
        font-size: x-large;
    }
}
@media (max-width:576px) {
    .text_zadanie {
        font-size: medium !important;
    }

    input[type=text], input[type=password],  select {
        font-size: large;
    }
    textarea {
        font-size: large !important;
    }
    .text_test {
        font-size: large;
    }
}